<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository bean. Spring will create an instance of this class. -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Define the BookService bean. Spring will create an instance of this class. -->
    <!-- The 'property' tag is used for setter-based dependency injection. -->
    <!-- It injects the 'bookRepository' bean (defined above) into the 'bookRepository' property of BookService. -->
    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
